.default {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 4px 6px;
    margin: 1px 2px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.default:disabled{

}
.red {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 4px 6px;
    margin: 1px 2px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #ef9ee2 0%, #f0306a 51%, #dd9eef 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.default:hover {
    background-position: right center;
}
.red:hover {
    background-position: right center;
}